header img {width: 300px;
            float: left;}

nav {padding-top: 61px;}

nav a {color: white;
        text-decoration: none;
        padding-left: 5%;}

nav a:hover {color: #111111;}

body {font-family: Verdana, Geneva, Tahoma, sans-serif;}

main {margin: 10px auto;
        width: 90%;}

aside {float: right;
        width: 20%;
        border: 1px dotted #4d4d4d;
        background-color: #EEEEEE;
        padding-bottom: 15px;
        margin-bottom: 10px;}

aside a {text-decoration: none;
        color: #000000;}

#links {background-color: #037dbe; 
        padding: 5px 0;}

#mainContentContainer {margin-right: 22%;}

#mainContentImage {width: 100%;}

#sideBarHeading {text-align: center;
                padding: 5px 0;}

#sideBarContainer {margin: 0 auto;
                background-color: #ffffff;
                padding: 2%;
                border-radius: 5px;
                width: 90%;}

.featuredImage {max-width: 100%;}

.bold {font-weight: bold;}

footer {background-color: #EEEEEE;
        padding: 10px 0;
        font-size: 80%;
        height: 50px;
        color: #4d4d4d;
        clear: both;}

#socialMediaLinks {float: left;     
                        padding-left: 5%;}

#socialMediaLinks img {width: 40px;
                        padding: 6px 0 0 6px;}

#footerNav a {text-decoration: none;
                padding-right: 5%;
                float: right;
                font-size: 120%;
                color: #037dbe;
                padding-top: 17px;}

#footerNav a:hover {color: #000000;}

#copyright {width: 200px;
                margin: 0 auto;
                font-style: italic;
                padding-top: 35px;}





